@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

*,
html,
body,
p {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 10%;
    background: #f0e5e5; /* Soft pastel background */
}

h1 {
    color: #2c3e50; /* Dark pastel blue */
    margin-bottom: 4%;
    margin-top: 0.5%;
    margin-right: 70%;
}

/* Grid */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.calc-container {
    display: grid;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dot {
    grid-column: span 2;
}

.equal {
    grid-row: span 2;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
}

/* Input */
#input {
    width: 100%;
    padding-right: 10px;
    font-size: 3em;
    text-align: right;
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #2c3e50; /* Dark pastel blue text */
    background-color: #ecf0f1; /* Light pastel blue background */
    transition: all 0.3s ease-in;
}

/* Btn's */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: 0.3px solid rgba(128, 128, 128, 0.171); /* Light gray border */
}

.btn-num {
    background-color: #3498db; /* Pastel blue */
    color: #ffffff; /* White text */
}

.btn-num:hover {
    background-color: #2980b9; /* Darker pastel blue on hover */
}

.btn-operator {
    background-color: #e74c3c; /* Pastel red */
    color: #ffffff; /* White text */
}

.btn-operator:hover {
    background-color: #c0392b; /* Darker pastel red on hover */
}

.equal {
    background-color: #f39c12; /* Pastel orange */
}
